## ECE3 Fall24 HW 1 (lab1) (Due by 11PM, Monday, October 14th.)

Please first make a copy of this notebook to your Google drive or download to your laptop and edit it using any tool (Google CoLab, Visual Studio Code, Jupyter Notebook, Jupyter Lab, etc.). Submit a Jupyter notebook .ipynb file on Canvas under Assignments. Grading: Q1: 7%, Q2: 7%, Q3: 6%, Programming Questions: 20% each.

## Multiple Choice Questions

### Question 1

What is the output of the following code?

In [ ]:
x = ['a','b','c','d']
print(x[1:-1])

a) ['a' , 'b' , 'c']

b) ['b' , 'c']

c) ['a' , 'b' , 'c' , 'd']

d) ['b' , 'c' , 'd']

ANSWER: (Please put your answer in the form of print('a') or print('b')) in the code cell below.

In [ ]:
print('')

### Question 2

Which statement is ***False*** ?

a) A list can accept python classes.

b) A list can only have items of the same data type.

c) Python supports variables that are list of lists with different length.

d) A list can contain any data type.

ANSWER: (Please put your answer in the form of print('a') or print('b')) in the code cell below.

In [ ]:
print('')

### Question 3

What will be the output of the following code?

```
x = 5
y = 10
z1 = x + y * 2.0
z2 = x + y * 2
print(type(z1),'&',type(z2))
```
a) <class 'float'> & <class 'float'>

b) <class 'int'> & <class 'float'>  

c) <class 'int'> & <class 'int'>  

d) <class 'float'> & <class 'int'>

ANSWER: (Please put your answer in the form of print('a') or print('b')) in the code cell below.

In [ ]:
print('')

## Code

### Question 4

Write a program that prints the nth value in an arbitrary list of integers and produces an output like the following: *The n-th item of the list is --- .*  
Where n is input by the user and the --- is the nth item of an arbitrary list of 5 or more integers. The program should print an error message if "n" is not within the bounds of the list. You can assume that n is an integer. You can try your code with the following list:

A = [10, 20, 30, 40, 50]

Ans :

### Question 5

Write a program that starts with a dictionary of student names and majors. Ask for a student name from the user and print the major if the student exists in the dictionary. If the student doesn't exist, the program should print a message accordingly. To exit, the user can simply hit enter/return. Use this data to test your code: john, ECE, jane, ECE, mark, Physics.<br>  
Sample Output:  
Name: john Major: ECE  
paul is not found in the dictionary.

Ans :

### Question 6

Write a code that sums the items of list x and y pairwise and adds the result of each sum to list z if the sum is bigger than 5. You can assume that the lists are of the same length. E.g. 1+3=4 is less than 5, so this sum doesn't get added. 1+12 = 13 is more than 5, so it gets added to the new list. Use the following lists to test your code:

x = [1 , 3 , 5 , 6]

y = [12 , 1 , 0 , 2]

Ans:

### Question 7
Complete the code below to print the following patterns.
```python
# First Pattern
**********
**********
**********
**********
**********
**********
**********
**********
**********
**********

# Second Pattern
*
**
***
****
*****
******
*******
********
*********

# Third Pattern
**********
*********
********
*******
******
*****
****
***
**
*

```

In [ ]:
n = 10

# First Pattern
print("\nFirst Pattern")
for i in range():
  for j in range():
    print('*', end='')
  print()

# Second Pattern
print("\nSecond Pattern")



# Third Pattern
print("\nThird Pattern")